.background{
    background-color: rgb(196, 183, 183);
}
.gallery-background{
    padding: 15px;
    margin: auto;
    background-color: beige;
    width: 80%;
}
img{
    width: 100%;
    margin: auto;
    transition: 0.6s ease;
}
img:hover{
    scale: 0.85;
    box-shadow: 20px 20px 20px rgb(196, 183, 183);
}
td{
    width: 50%;
    max-width: 600px;
}
.table-gallery{
    width: 100%;
}
.headLine{
    font-size: 30px;
}